#friends-display-link {
  color: rgba(0, 0, 0, 0.3);
  background-color: #fafafa;
  font-size: 15px;
  padding: 10px 0px;
  margin-left: 300px;
  margin-bottom: 5px;
}
.friends-screen {
  padding: 1px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__text {
  top: 5px;
  position: relative;
}

.user-component__title {
  position: absolute;
  bottom: 30px;
}

.user-component__title1 {
  font-size: 20px;
}
